<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiu33rSpy5IVrbsqzsAyEeEqO0QKCMacc</string>
	<key>GCM_SENDER_ID</key>
	<string>1086608207855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nursefox.Remote-Community-Maps</string>
	<key>PROJECT_ID</key>
	<string>remote-community-maps-ecf13</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-community-maps-ecf13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086608207855:ios:b6d38aea98b0b4033f101a</string>
</dict>
</plist>